.droptarget {
  align-content: center;
  float: left;
  width: 100%;
  height: 16%;
  margin: auto;
  padding: inherit;
  border: 1px solid black;
}

#dropcontainer {
  align-content: center;
  float: left;
  width: 100%;
  height: 16%;
  margin: auto;
  padding: inherit;
  border: 1px solid black;
}

body {
  Margin: 0;
  Padding: 1%;
}

.area {
  Border: 1px solid black;
  overflow: scroll;
}

.main {
  Height: 70%;
  Float: left;
}

#header {
  Height: 10%;
}

#content {
  Width: 39%;
}

#sidebar1 {
  Width: 30%;
  Border: none;
}

#sidebar2 {
  Width: 30%;
  Float: right;
}

#footer {
  Clear: both;
  Height: 10%;
}