<html>
<head>
    <title>CSS Layout demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <style>
        #content {
            border: 3px solid black;
            width: 320px;
            height: 420px;
            float: left
        }
    </style>
    <script src="javascripts/ui_act.js"></script>
</head>

<body>
<div class="area" id="header">
    <div class="scaffold">Header</div>
</div>
<div class="main area" id="content">
    <canvas id='myCanvas' width=256px height=256px></canvas>
</div>
<div class="main area" id="sidebar1">
    <div class="sidebar-top">
        <form name="submitAnswer" onsubmit="getAnswer()" method="post">
            <input type="submit" value="submit">
        </form>
        <img class="origin" id="arrow" src="/images/arrow.png" draggable="true" ondragstart="dragStart(event)"
             width="64" height="64">
        </br>
        <img class="origin" id="rotate" src="/images/rotate.png" draggable="true" ondragstart="dragStart(event)"
             width="64" height="64">
    </div>
    <div class="sidebar-bottom">
        <div class="droptarget" ondragenter="dragEnter(event)" ondragleave="dragLeave(event)" ondrop="dropDelete(event)"
             ondragover="allowDrop(event)" droppable="true"></div>
    </div>
</div>
</div>
<div class="main area" id="sidebar2">
    <% for(var i = 0;i < 10;i++){ %>
    <div class="droptarget" ondragenter="dragEnter(event)" ondragleave="dragLeave(event)" ondrop="drop(event)"
         ondragover="allowDrop(event)" areastate="clear"></div>
    <% } %>
</div>
<div class="area" id="footer">
    <div class="scaffold">Footer</div>
    <div style="display:none">
        <ul>
            <% for (var i in level) { %>
            <li class="levelTable"><%= level[i] %></li>
            <% } %>
        </ul>
    </div>
</div>
<script src="javascripts/canvas_act.js"></script>
</body>
</html>
