<html>
<head>
    <title>CSS Layout demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="/bootstrap-2.3.2/docs/assets/css/bootstrap.css" rel="stylesheet">
    <style>
        #content {
            border: 3px solid black;
            width: 320px;
            height: 420px;
            float: left
        }
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <script src="/javascripts/ui_act.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Aigo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="/bootstrap-2.3.2/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/bootstrap-2.3.2/docs/assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed"
          href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="http://getbootstrap.com/2.3.2/assets/ico/favicon.png">
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="http://getbootstrap.com/2.3.2/examples/hero.html#">Aigo</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="/bootstrap">Home</a></li>
                    <li><a href="/bootstrap">About</a></li>
                    <li><a href="/bootstrap">Contact</a></li>
                    <li class="dropdown">
                        <a href="http://getbootstrap.com/2.3.2/examples/hero.html#" class="dropdown-toggle"
                           data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://getbootstrap.com/2.3.2/examples/hero.html#">Action</a></li>
                            <li><a href="http://getbootstrap.com/2.3.2/examples/hero.html#">Another action</a></li>
                            <li><a href="http://getbootstrap.com/2.3.2/examples/hero.html#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Nav header</li>
                            <li><a href="http://getbootstrap.com/2.3.2/examples/hero.html#">Separated link</a></li>
                            <li><a href="http://getbootstrap.com/2.3.2/examples/hero.html#">One more separated link</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form pull-right" method="get" action="/">
                    <input class="span2" type="text" placeholder="ID">
                    <input class="span2" type="password" placeholder="Password">
                    <button type="submit" class="btn btn-lg">Sign in</button>
                    <button type="submit" class="btn btn-lg btn-success">Sign up</button>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="main area" id="content">
    <canvas id='myCanvas' width=256px height=256px></canvas>
</div>
<div class="main area" id="sidebar1">
    <div class="sidebar-top">
        <form  name="submitAnswer" onsubmit="getAnswer()" method="post">
            <input type="hidden" name="createTime" value="<%= createTime %>">
            <input type="submit" value="submit">
        </form>
        <img class="origin" id="arrow" src="/images/arrow.png" draggable="true" ondragstart="dragStart(event)"
             width="64" height="64">
        </br>
        <img class="origin" id="rotate" src="/images/rotate.png" draggable="true" ondragstart="dragStart(event)"
             width="64" height="64">
    </div>
    <div class="sidebar-bottom">
        <div class="droptarget" ondragenter="dragEnter(event)" ondragleave="dragLeave(event)" ondrop="dropDelete(event)"
             ondragover="allowDrop(event)" droppable="true"></div>
    </div>
</div>
</div>
<div class="main area" id="sidebar2">
    <% for(var i = 0;i < 10;i++){ %>
    <div class="droptarget" ondragenter="dragEnter(event)" ondragleave="dragLeave(event)" ondrop="drop(event)"
         ondragover="allowDrop(event)" areastate="clear"></div>
    <% } %>
</div>
<hr>

<footer>
    <p>© Company 2013</p>
</footer>

<script src="/javascripts/canvas_act.js"></script>
</body>
</html>
