extends layout

block content

    nav.navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                .navbar-brand Control Panel
            ul.nav.navbar-nav.navbar-right
                li
                    .navbar-btn#btn-logout.btn.btn-default
                        | Sign Out

    include account
    include modals/alert
    include modals/confirm

block scripts
    script(src='/bootstrap-2.3.2/docs/assets/js/jquery.js')
    script(src='/bootstrap-2.3.2/docs/assets/js/jquery.form.min.js')
    script(src='/bootstrap-2.3.2/docs/assets/js/bootstrap.min.js')
    script(src='/javascripts/home.js')
    script(src='/javascripts/form-controllers/homeController.js')
    script(src='/javascripts/form-validators/accountValidator.js')