doctype html
html
	head
		title Node.js Login
		link(rel='stylesheet', href='/bootstrap-2.3.2/docs/assets/css/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets//loginstyle.css')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css')
	body
		block content
		block scripts