extends layout

block content

    include account
    include modals/alert

block scripts
    script(src='/bootstrap-2.3.2/docs/assets/js/jquery.js')
    script(src='/bootstrap-2.3.2/docs/assets/js/jquery.form.min.js')
    script(src='/bootstrap-2.3.2/docs/assets/js/bootstrap.min.js')
    script(src='/javascripts/signup.js')
    script(src='/javascripts/form-controllers/signupController.js')
    script(src='/javascripts/form-validators/accountValidator.js')
