<!DOCTYPE html>
<html>
<head>
    <title>testCanvas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        #canvasSection {border: 3px solid black;width:320px;height:420px}
    </style>
    <meta charset="utf-8">
</head>
<body>
<h1>testCanvas</h1>
<div id="canvasSection" float="left">
    <canvas id='myCanvas' width=256px height=256px></canvas>
</div>
<script>
</script>
<form action="/testCanvas" method="post">
    <input type="submit" value="전송">
</form>
</body>
</html>


