<html>
<head>
    <title>CSS Layout demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="javascripts/drag-act.js"></script>
</head>

<body>
<div class="area" id="header">
    <div class="scaffold">Header</div>
</div>
<div class="main area" id="content">
    <div class="scaffold">Content</div>
</div>
<div class="main area" id="sidebar1">
    <form name="submitAnswer" onsubmit="getAnswer()" method="post">
        <input type="submit" value="submit" >
    </form>
    <img id="arrow" src="/images/arrow.png" draggable="true" ondragstart="dragStart(event)" width="64" height="64" movable="false">
    </br>
    <img id="rotate" src="/images/rotate.png" draggable="true" ondragstart="dragStart(event)" width="64" height="64" movable="false">
</div>
<div class="main area" id="sidebar2">
    <div class="droptarget" ondragenter="dragEnter(event)" ondragleave="dragLeave(event)" ondrop="drop(event)" ondragover="allowDrop(event)" droppable="true"></div>
    <div class="droptarget" ondragenter="dragEnter(event)" ondragleave="dragLeave(event)" ondrop="drop(event)" ondragover="allowDrop(event)" droppable="true"></div>
    <div class="droptarget" ondragenter="dragEnter(event)" ondragleave="dragLeave(event)" ondrop="drop(event)" ondragover="allowDrop(event)" droppable="true"></div>
    <div class="droptarget" ondragenter="dragEnter(event)" ondragleave="dragLeave(event)" ondrop="drop(event)" ondragover="allowDrop(event)" droppable="true"></div>
</div>
<div class="area" id="footer">
    <div class="scaffold">Footer</div>
</div>
</body>
</html>